<footer class="container text-secondary-emphasis bg-secondary-subtle border border-secondary-subtle rounded-3">

    <div class="row pie-pagina">

        <div class="d-flex justify-content-center gap-4">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>


        </div>

    </div>

</footer>
